/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin-top: 56px; /* To prevent the navbar from overlapping */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.section-padding {
  padding: 60px 0;
}

/* Home Section */
.home-section {
  background-image: url("./Media/banner.jpg"); /* Add your image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.home-section .container {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-inner img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* WhatsApp Button Styling */
#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#whatsapp-button:hover {
  background-color: #22c65b;
}

/* Popup Styling */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1001; /* Above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #333;
}

#popup-close:hover {
  color: #ff0000;
}

/* Small screen styles */
@media (max-width: 768px) {
  .popup-content {
    width: 90%;
  }
}

/* Inquiry Form Styling */
#inquiry-form {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}
#inquiry-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
#form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1001;
}

/* Close Button Styling */
#close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
#close-form:hover {
  color: #ff0000;
}

/* Contact Section */
#contact{
  background-color: #a4a6a5;
}